{% extends 'hostel/testhome.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Total Absetees : {{ total }}</h2><br>
<h3>Absentees</h3>

<table class="table">
<thead class="thead-dark">
<tr>
      <th scope="col">Admission Number</th>
    </tr>
</thead>

<tr><td>
{% for i in absents %}
    {% for x in i %}
        <a href="{% url 'studentdetails' x %}">{{ x }}</a>
        {% endfor %}
{% endfor %}

</td>
</tr>




</tr>

</table>
</body>
</html>

{% endblock %}