<html>
{% load static %}
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link rel="stylesheet" href="{% static 'hostel/css/adminSignup.css' %}">
</head>  
<body> 

<div class="container">
    <center>  <h1> Admin Registeration</h1> </center>
  <form method="POST" action="{% url 'adminSignup' %}">
{% csrf_token %}
  <hr>  
  <label> <b>User Name </b></label>
<input type="text" name="username" placeholder= "User name" size="15" required />

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password1" required>
  
    <label for="psw-repeat"><b>Re-type Password</b></label>  
    <input type="password" placeholder="Retype Password" name="password2" required>
    <button type="submit" class="registerbtn">Register</button>
      {% if error %}
{{ error }}
{% endif %}
</form>
</div>

</body>  
</html>  