{% extends 'hostel/testhome.html' %}
{% block content %}
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success}}
</div>
    {% endif %}
<form action="" method="POST">
    {% csrf_token %}
    Hostel &emsp;&emsp;&emsp;<select name="hostel" required>
<option value="">Select</option>
<option value="MH">MH</option>
<option value="LH">LH</option>
</select>
    &emsp;&emsp;&emsp;
    Block &emsp;&emsp;&emsp;&nbsp;<select name="block" required>
<option value="">Select</option>
<option value="A">A Block</option>
<option value="B">B Block</option>
    <option value="C">C Block</option>
<option value="D">D Block</option>
</select><br><br>
    Department &ensp;<select name="dept" required>
<option value="">Select</option>
<option value="MCA">MCA</option>
<option value="CS">CS</option>
    <option value="EC">EC</option>
<option value="CIVIL">CIVIL</option>
    <option value="EEE">EEE</option>
<option value="ME">ME</option>
</select>&emsp;&emsp;&emsp;

    &ensp;Semester &emsp;&ensp;<select name="sem" required>
<option value="">Select</option>
<option value="1">1</option>
<option value="2">2</option>
    <option value="3">3</option>
<option value="4">4</option>
    <option value="5">5</option>
<option value="6">6</option>
</select><br><br>
    Name &emsp;&emsp;&emsp;<input type="text" name="name" required><br>
    <br>adnumber&emsp;&ensp;<input type="text" name="adnumber"><br>
    <br>Room&emsp;&emsp;&emsp;&nbsp;<input type="text" name="room"><br>
<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <button type="submit" class="btn btn-primary btn-sm">Enter</button>
</form>

{% endblock %}